.tranBox {
  margin-top: 5%;
  width: 60vw;
  margin-left: 20vw;
  margin-bottom: 20vh;
}
table {
  width: 100%;
}
thead {
  width: 100%;

  background-color: aqua;
}

tr {
  text-align: left;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 28% 10% 24% 8% 13% 12%;
}
thead th {
  border: 1px solid white;

  padding-top: 20px;
  padding-bottom: 20px;
}
tbody td {
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgb(203, 202, 199);
  text-align: left;
}
tbody tr:nth-child(odd) {
  background-color: rgb(237, 236, 234);
}
.booked {
  width: 55px;
  font-size: 1rem;
  text-align: left;
  color: green;
  background-color: rgb(182, 117, 128);
  border-radius: 5px;
}
.checkin {
  background-color: greenyellow;
  color: green;
  border-radius: 5px;
  text-align: left;
  width: 58px;
  font-size: 1rem;
}
.checkout {
  background-color: lavender;
  color: green;
  border-radius: 5px;
  text-align: left;
  width: 80px;
  font-size: 1rem;
}
/* tr select {
  width: 100px !important;
} */
